<mat-sidenav-container
    class="example-container" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()">
    <p>
      <button mat-button (click)="sidenav.close()">
        <mat-icon>home</mat-icon>Menu
      </button>
    </p>
    <mat-nav-list>
        <a mat-list-item *ngFor="let link of links"
          [routerLink]="link.url"
          (click)="sidenav.close()">
          {{ link.name }}
        </a>
     </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button mat-button (click)="sidenav.open()">
        <mat-icon>home</mat-icon>
        Menu
      </button>
    </p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
