.loan-container {
    display: flex;
    flex-direction: column;
}

.loan-container form > * {
    width: 100%;
}

.loan-container .mobile-label{
    width: 180px;
}

.loan-container > *:not(.mat-table) {
    margin: auto;
}