<div class="loan-container">
  <h1>Préstamo Personal</h1>
  <h2 *ngIf="monthlyAmmount">{{displayAmmount | currency}}</h2>
  <h3 *ngIf="monthlyAmmount">Tasa de interés {{displayMonthlyPercent}} % m.v.</h3>
  <h3 *ngIf="monthlyAmmount">{{displayMonths}} Cuotas de {{monthlyAmmount | currency}}</h3>
  <h4 *ngIf="monthlyAmmount">
    <button mat-raised-button (click)="copyShareLinkToClipboard()"><mat-icon>share</mat-icon></button>
  </h4>
  <form (ngSubmit)="calculatePayments()" #loanForm="ngForm" autocomplete="off">
    <mat-form-field *ngIf="shareLink">
        <input matInput [value]="shareLink" name="shareLink" type="text" placeholder="Enlace para compartir" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="ammount" type="number" name="ammount" placeholder="Ingresa el Valor" required (ngModelChange)="clearCalculation()">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="months" type="number" name="months" placeholder="Ingresa los meses" required (ngModelChange)="clearCalculation()">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="monthlyPercent" type="number" name="monthlyPercent" placeholder="Interes Mensual" required (ngModelChange)="clearCalculation()">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="!loanForm.form.valid">Calcular Cuotas</button>
  </form>

  <table mat-table [dataSource]="payments" *ngIf="payments.length">

    <ng-container matColumnDef="month">
      <mat-header-cell *matHeaderCellDef> Cuota No.</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Cuota No.:</span>
        {{element.month}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="capital">
      <mat-header-cell *matHeaderCellDef> Abono Capital </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Abono Capital:</span>
        {{element.capital | currency }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="interest">
      <mat-header-cell *matHeaderCellDef> Intereses </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Intereses:</span>
        {{element.interest | currency}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Valor Cuota </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Valor Cuota:</span>
        {{element.total | currency}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="left">
      <mat-header-cell *matHeaderCellDef> Saldo </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Saldo:</span>
        {{element.left | currency}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="interestSum">
      <mat-header-cell *matHeaderCellDef> Intereses Acumulados </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Intereses Acumulados:</span>
        {{element.interestSum | currency}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>
