/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@media not all and (hover: hover) {
    .mat-button:hover .mat-button-focus-overlay,
    .mat-stroked-button:hover .mat-button-focus-overlay {
      opacity: 1 !important;
    }
}

/* By default, the mobile label shouldn't show*/
.mobile-label {
  display: none;
}

.mat-table{
  width: 100%;
}

@media(max-width: 800px) {
  .mat-table {
    margin: auto;
    width: auto;
  }
  /* Custom header label that shows in each column, with a set width and bold font */
  .mobile-label {
    display: inline-block;
    font-weight: bold;
  }

  .mat-cell:first-child{
    padding-left: 0;
  }

  /* Remove the header row altogether */
  .mat-header-row {
    display: none;
  }

  /* The row cells should display as a column, justified left, with a bit of extra padding*/
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}